$space: 20px;
$font-stack: Helvetica, Roboto, Arial;
$border-size: 1px;
$petals: 5;
// Foreground Color
$color: #f00;
// Base size
$size: 200px;
// Petal size
$petal-size: $size * 0.6;

///Flower Time
$lotush: 300px;
$lotusw: 300px;
$first-petal: rgba(255, 0, 0, 0.5);
$second-petal: rgba(255, 255, 0, 0.5);
$third-petal: rgba(0, 255, 0, 0.5);
$fourth-petal: rgba(0, 255, 255, 0.5);
$fifth-petal: rgba(0, 0, 255, 0.5);
$pink: rgba(255, 205, 230, 0.5);

.box {
  margin: $space; // margin: 20px;
}

.lotus {
    width: $lotusw;
    height: $lotush;
    left: 60px;
    top: 0px;
    border: 1px solid;
    position: relative;
}

.lotus > div {
    position: absolute;
    width: $size;
    height: $size;
    border: 1px solid;
    border-radius: 0 70% 50% 70%;
    left: -1px;
    top: 70px;
    transform: rotate(45deg);
    transform-origin: 150px 150px;

    animation-duration: 6000ms;
    animation-fill-mode: forwards;
}

.lotus > div:nth-child(1) {
    background-color: $first-petal;
    animation-name: bloom-1;
}

.lotus > div:nth-child(2) {
    background-color: $second-petal;
    animation-name: bloom-2;
}

.lotus > div:nth-child(3) {
    background-color: $third-petal;
    animation-name: bloom-3;
}

.lotus > div:nth-child(4) {
    background-color: $fourth-petal;
    animation-name: bloom-4;
}

.lotus > div:nth-child(5) {
    background-color: $fifth-petal;
    animation-name: bloom-5;
}

@keyframes bloom-1 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(-45deg);
        background-color: $pink;

    }
}

@keyframes bloom-2 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0);
        background-color: $pink;

    }
}

@keyframes bloom-3 {
    100% {
        background-color: $pink;
    }
}

@keyframes bloom-4 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(90deg);
        background-color: $pink;

    }
}

@keyframes bloom-5 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(135deg);
        background-color: $pink;

    }
}
